* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
  }
  
  .login-logo {
    margin-top: 5%;
    margin-left: 15%;
    height: 60vmin;
    pointer-events: none;
  }

  .editProfile .container .ProfilePic{
    max-width: 55%;
    max-height: 50%;
    border-radius: 50% !important;
    border: 2px solid white;
    transition: border-radius ease 0.2s;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .login-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @media only screen and (min-width: 600px){
    .editProfile .container .ProfilePic{
      width: 200px;
      height: 200px;
    }
  }

  @media only screen and (max-width: 600px) {
    .login-logo{
      display: none;
    }
    .editProfile .container .ProfilePic{
      height: 150px;
      width: 200px;
    }
  }


  .editProfile{
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    display: flex;
  }

  .editProfile .container{
    padding: 40px;
    margin: auto;
    margin-top: 2%;
    width: 100%;
    max-width: 450px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(
      ellipse at left bottom,
      rgba(40, 44, 52, 0.5) 0%,
      rgba(45, 53, 70, 0.5) 59%,
      rgba(71, 88, 119, 0.5) 100%
    );
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
  }

  .editProfile .container label {
    color: white;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
  }
  
  .editProfile .container input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    letter-spacing: 1px;
  }

  .editProfile .container .ProfilePic:hover{
    cursor: pointer;
    border-radius: 40% !important;
  }

  .loginBtn {
    border: none;
    outline: none;
    width: 100%;
    margin-top: 2%;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #17a2b8;
    cursor: pointer;
  }
  
  .login {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    display: flex;
  }
  
  .login .loginContainer {
    padding: 40px;
    margin: auto;
    margin-top: 2%;
    width: 100%;
    max-width: 450px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(
      ellipse at left bottom,
      rgba(40, 44, 52, 0.5) 0%,
      rgba(45, 53, 70, 0.5) 59%,
      rgba(71, 88, 119, 0.5) 100%
    );
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
  }
  
  .login .loginContainer label {
    color: white;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
  }
  
  .login .loginContainer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    letter-spacing: 1px;
  }
  
  .login .loginContainer .btnContainer {
    width: 100%;
    padding: 24px 0;
  }
  
  .login .loginContainer .btnContainer p {
    margin: 14px 0 0 0;
    text-align: right;
    color: #fff;
  }
  
  .login .loginContainer .btnContainer p span {
    color: yellow;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
  }
  
  .login .loginContainer .btnContainer p span:hover {
    color: red;
  }
  
  .login .loginContainer .errorMsg {
    color: red !important;
    font-size: 16px;
  }